/* Tangerine Dreamscape - https://coolors.co/b55200-ff9300-b0ebeb-00bfbf-007877-004242-fba071-ffe3d3-ffb092-ff8a72 */

/* CSS HEX */
--autumn-ember: #b55200ff;
--deep-saffron: #ff9300ff;
--icy-aqua: #b0ebebff;
--strong-cyan: #00bfbfff;
--deep-ocean: #007877ff;
--dark-teal: #004242ff;
--tangerine-dream: #fba071ff;
--powder-petal: #ffe3d3ff;
--tangerine-dream-2: #ffb092ff;
--salmon: #ff8a72ff;

/* CSS HSL */
--autumn-ember: hsla(27, 100%, 35%, 1);
--deep-saffron: hsla(35, 100%, 50%, 1);
--icy-aqua: hsla(180, 60%, 81%, 1);
--strong-cyan: hsla(180, 100%, 37%, 1);
--deep-ocean: hsla(180, 100%, 24%, 1);
--dark-teal: hsla(180, 100%, 13%, 1);
--tangerine-dream: hsla(20, 95%, 71%, 1);
--powder-petal: hsla(22, 100%, 91%, 1);
--tangerine-dream-2: hsla(17, 100%, 79%, 1);
--salmon: hsla(10, 100%, 72%, 1);

/* SCSS HEX */
$autumn-ember: #b55200ff;
$deep-saffron: #ff9300ff;
$icy-aqua: #b0ebebff;
$strong-cyan: #00bfbfff;
$deep-ocean: #007877ff;
$dark-teal: #004242ff;
$tangerine-dream: #fba071ff;
$powder-petal: #ffe3d3ff;
$tangerine-dream-2: #ffb092ff;
$salmon: #ff8a72ff;

/* SCSS HSL */
$autumn-ember: hsla(27, 100%, 35%, 1);
$deep-saffron: hsla(35, 100%, 50%, 1);
$icy-aqua: hsla(180, 60%, 81%, 1);
$strong-cyan: hsla(180, 100%, 37%, 1);
$deep-ocean: hsla(180, 100%, 24%, 1);
$dark-teal: hsla(180, 100%, 13%, 1);
$tangerine-dream: hsla(20, 95%, 71%, 1);
$powder-petal: hsla(22, 100%, 91%, 1);
$tangerine-dream-2: hsla(17, 100%, 79%, 1);
$salmon: hsla(10, 100%, 72%, 1);

/* SCSS RGB */
$autumn-ember: rgba(181, 82, 0, 1);
$deep-saffron: rgba(255, 147, 0, 1);
$icy-aqua: rgba(176, 235, 235, 1);
$strong-cyan: rgba(0, 191, 191, 1);
$deep-ocean: rgba(0, 120, 119, 1);
$dark-teal: rgba(0, 66, 66, 1);
$tangerine-dream: rgba(251, 160, 113, 1);
$powder-petal: rgba(255, 227, 211, 1);
$tangerine-dream-2: rgba(255, 176, 146, 1);
$salmon: rgba(255, 138, 114, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-right: linear-gradient(90deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-bottom: linear-gradient(180deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-left: linear-gradient(270deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-top-right: linear-gradient(45deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-bottom-right: linear-gradient(135deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-top-left: linear-gradient(225deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-bottom-left: linear-gradient(315deg, #b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);
$gradient-radial: radial-gradient(#b55200ff, #ff9300ff, #b0ebebff, #00bfbfff, #007877ff, #004242ff, #fba071ff, #ffe3d3ff, #ffb092ff, #ff8a72ff);